<div class="container">
  <h1>Shorten Your Link!</h1>

  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <input name="originalUrl" required ngModel/>
    <button
      type="submit"
      [disabled]="f.invalid"
    >GO</button>
  </form>

  <div class="result" *ngIf="generatedUrl">
    <div class="result-title">
      Your link now looks like this:
    </div>
    <div class="result-link">
      <a href="{{generatedUrl}}" target="_blank">{{generatedUrl}}</a>
    </div>
  </div>
</div>
