form
  margin-bottom: 40px
  input
    height: 32px
    padding: 0 10px
  button
    height: 32px
    border: none
    background-color: darkorange
    color: white
    margin-left: 4px
    &[disabled]
      opacity: 0.6
      cursor: not-allowed

.result
  .result-title
    margin-bottom: 10px
